In [14]:
# การใช้คำสั่ง check head and tail

import pandas as pd

student_gpa = pd.read_csv('D:\student.csv')
student_gpa.head()
student_gpa.tail

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\student.csv'

In [6]:
# กรณีที่ข้อมูลบางส่วนมีค่าว่าง และเราต้องการแสดงผลลัพท์เฉพาะผู้ที่มีข้อมูลเท่านั้น

student_gpa = pd.read_csv('D:\student.csv')
print(student[student['Score'].notnull()])

AttributeError: module 'numpy' has no attribute 'read_csv'

In [7]:
# คล้าย notnull สามารถระบุได้ว่าต้องการลบข้อมูลทั้งแถวหรือทั้งคอลัมน์
print(student.dropna())

# ระบุได้ดังนี้ axis=0 ลบข้อมูลทั้งแถว(index) axis=1 ลบข้อมูลทั้งคอลัมน์(columns)
print(student.dropna(axis=1)) 
# ตัวอย่างนี้จะไม่แสดงข้อมูลคอลัมน์ที่ไม่มีข้อมูลรวมถึงแถวอื่นด้วย

NameError: name 'student' is not defined

In [ ]:
# ในกรณีสั่ง print ช่องว่างจะแสดงข้อมูลเป็น NaN not a number
print(student)

# จากตัวอย่างก่อนหน้า หากเราอยากแสดงข้อมูลที่ไม่เป็นค่า default เช่นให้แสดงเป็น 0
student.fillna(0, inplace=True)
print(student)

In [ ]:
# การจัดการข้อมูลที่ซ้าซ้อนกัน
# กรณีแรก มีรายการใดบ้างทีข้อมูลซ้ำซ้อนกันทั้งแถวตรวจสอบด้วยคำสั่ง duplicated()

student = pd.read_csv('D:\student.csv')
student.duplicated()
print(student)
# ผลลัพท์ที่ได้จะเป็นค่า true

In [ ]:
# กรณีที่สอง มีรายการใดบ้างที่ข้อมูลบางคอลัมน์ซ้ำซ้อนกัน
student = pd.read_csv('D:\student.csv')
student.duplicated()
print(student.duplicated(['ID']))
# ผลลัพท์ที่ได้จะเป็นค่า true

In [ ]:
# สำหรับกรณีแรกที่เราพบข้อมูลซ้ำซ้อน ทั้งแถวและต้องการลบทิ้ง
# ใช้คำสั่ง dorp() พร้อมกำหนด Index ให้ข้อมูลใหม่ด้วยคำสั่ง Reset

student = pd.read_csv('D:\student.csv')
student.drop_duplicated(['ID','Name','Score'], 
                       inplace=True)
student.reset_index(drop=true, inplace=True)
print(student)

In [ ]:
# หากเราต้องการนับจำนวนแถวที่มีค่าซ้ำซ้อนกัน สามารถทำได้โดยใช้คำสั่ง len()

student = pd.read_csv['D:\student.csv']
print(len(student[student.duplicated(['ID', 'Name', 'Score'], keep=False)]))
# หากระบุ keep=Flase จะนับทั้งสองแถวที่ซ้ำกัน ถ้าไมระบุจะนับเฉพาะแถวที่ไปซ้ำกับแถวแรก

In [22]:
# test
import numpy as np
import pandas as pd

df = pd.DataFrame({"name": ['Superman','Batman','Spiderman'], 
                   "toy": [np.nan,'Batmobile','Spierman toy'],
                   "born": [pd.NaT,pd.Timestamp("1956-06-26"),pd.NaT]})

print(df.dropna(axis=1))

        name
0   Superman
1     Batman
2  Spiderman

In [ ]:
# การระบุเงื่อนไขสำหรับเลือกดูข้อมูล
# เลือกทุกแถวในคอลัมน์
student = pd.read_csv('D:\student.csv')
print(student[['Name','Scroe']])
# ระบุชื่อคอลัมน์ที่ต้องการ

In [ ]:
# การเลือกข้อมูลรายแถว
# การเลือกแถวที่อยู่ในช่วงที่สนใจจากไฟล์ student.csv โดยระบุช่วงเลขประจำตัวนิสิตตั้งแต่ 531020 ถึง 531025

student = pd.read_csv('D:\student.csv',index_col=0) 
# index ต้องบอก columns ไหม

print(student.loc['531020':'531025'])

In [ ]:
# หากต้องการเลือกตั้งแต่แถวแรก
student = pd.read_csv('D:\student.csv',index_col=0)
print(student.loc[:'531025'])

In [1]:
# ในกรณีที่ต้องการเลือกข้อมูลเฉพาะแถวที่ตรงกับเงื่อนไข เช่นให้แสดงรายการของนิสิตที่ได้คะแนนมากว่า 50

student = pd.read_csv('D:\student.csv')
student2 = student[student['score']>50]
print(student2)

NameError: name 'pd' is not defined

In [40]:
# test2
import pandas as pd

df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[7, 2, 54, 3, None], 
                   "C":[20, 16, 11, 3, 8], 
                   "D":[14, 3, None, 2, 6]})

index_ = ['row_1','row_2','row_3','row_4','row_5']
df.index = index_

print(pd)

# จงเขียนคำสั่งเพื่อดึงข้อมูลในคอลัมน์ A และ คอลัมน์ D มาแสดง 
print(df[['A','D']])

from IPython.display import display,HTML
display(HTML(df[['A','D']].to_html()))

<module 'pandas' from '/private/var/containers/Bundle/Application/6399D43E-5849-4FA1-A605-5EC067D50637/Carnets.app/Library/lib/python3.9/site-packages/pandas/__init__.py'>
          A     D
row_1  12.0  14.0
row_2   4.0   3.0
row_3   5.0   NaN
row_4   NaN   2.0
row_5   1.0   6.0

In [38]:
# การแปลงชนิดข้อมูล
# from string to float
import pandas as pd
s = pd.Series(['2.3','9',-7])
pd.to_numeric(s)

0    2.3
1    9.0
2   -7.0
dtype: float64

In [39]:
# แปลงโดยไม่ให้เกิด error
s = pd.Series(['bangkok','2.3','9',-7])
pd.to_numeric(s, errors='ignore')

0    bangkok
1        2.3
2          9
3         -7
dtype: object

In [35]:
# การแปลงข้อมูลวันที่ให้อยู่ในรูป date
import pandas as pd
df = pd.DataFrame({'year':[2017, 2018], 
                   'month':[11, 12], 
                   'day':[6, 7]})
pd.to_datetime(df)

0   2017-11-06
1   2018-12-07
dtype: datetime64[ns]

In [42]:
# test3
import pandas as pd
s = pd.Series(['mango','2.0','4',-2])
pd.to_numeric(s, errors='ignore')

0    mango
1      2.0
2        4
3       -2
dtype: object

In [44]:
# calculation and management data
# operator + - * / // % == != > <

import pandas as pd

female_student = pd.DataFrame([['noth',8], ['eastnoth',23],
                               ['center',33], ['east',38]],columns=['ภูมิลำเนา','quntity'])
male_student = pd.DataFrame([['noth',24], ['eastnoth',31],
                             ['center', 1], ['eastnoth',4],
                             ['bangkok',5]],columns=['ภูมิลำเนา','quntity'])
print(female_student+male_student)
# or print(female_student+male_student)

          ภูมิลำเนา  quntity
0          nothnoth     32.0
1  eastnotheastnoth     54.0
2      centercenter     34.0
3      easteastnoth     42.0
4               NaN      NaN

In [59]:
# test4

import pandas as pd
df = pd.DataFrame({'angle':[0,3,4],
                  'degrees':[360,180,360]},
                 index=['circle','triangle','rectangle'])
df_mutiindex = pd.DataFrame({'angle':[0,3,4,4,5,6],
                             'degrees':[360,180,360,360,540,720]},
                             index=[['A','A','A','B','B','B'], 
                                    ['circle','triangle','rectangle','square',
                                    'pentagon','hexagon']])
# df.div(1)
# df_mutiindex.div(1)
df.div(df_mutiindex, level=1, fill_value=0)

             angle  degrees
A circle       NaN      1.0
  triangle     1.0      1.0
  rectangle    1.0      1.0
B square       0.0      0.0
  pentagon     0.0      0.0
  hexagon      0.0      0.0

In [61]:
# calculation statistic with data not group
# กรณีที่เราต้องการดูค่าทางสถิติของแต่ละคอลัมน์
import pandas as pd
famale_student = pd.DataFrame([['noth',8],['notheast',23],['center,33'],['s',24]
                              ,['bangkok',38]],columns=['ภูมิลำเนา','จำนวน'])

famale_student.describe()

           จำนวน
count   4.000000
mean   23.250000
std    12.257651
min     8.000000
25%    19.250000
50%    23.500000
75%    27.500000
max    38.000000

In [63]:
# กรณีที่เราต้องการทราบหรือตรวจดูความผิดปกติของข้อมูลในแต่ละกลุ่ม
import pandas as pd
student = pd.DataFrame([['F','n',8],['F','E',23],['F','C',33],['F','S',24],
                        ['F','C',38],['M','n',11],['M','E',3],['M','C',43],
                       ['M','c',21]],columns=['เพศ','ภูมิลำเนา','จำนวน'])
student

gender_distribution = student.groupby(['เพศ'])
gender_distribution['จำนวน'].describe()

     count  mean        std  min   25%   50%   75%   max
เพศ
F      5.0  25.2  11.476062  8.0  23.0  24.0  33.0  38.0
M      4.0  19.5  17.310883  3.0   9.0  16.0  26.5  43.0

In [71]:
# test5
import pandas as pd
df = pd.DataFrame({'A':['x','y'],
                   'B':1,
                   'C':[2,3]})

df.describe()

         B         C
count  2.0  2.000000
mean   1.0  2.500000
std    0.0  0.707107
min    1.0  2.000000
25%    1.0  2.250000
50%    1.0  2.500000
75%    1.0  2.750000
max    1.0  3.000000

In [73]:
# กรณีต้องจัดกลุ่มและหาผลรวมของแต่ละกลุ่มเพื่อเปรียบเทียบ
import pandas as pd
student = pd.DataFrame([['F','n',8],['F','E',23],['F','C',33],['F','S',24],
                        ['F','C',38],['M','n',11],['M','E',3],['M','C',43],
                       ['M','c',21]],columns=['เพศ','ภูมิลำเนา','จำนวน'])

gender_distribution = student.groupby(['ภูมิลำเนา'])
gender_distribution['จำนวน'].aggregate(['sum'])

           sum
ภูมิลำเนา
C          114
E           26
S           24
c           21
n           19

In [76]:
# กรณีที่ต้องการแปลงระหว่างแถวและคอลัมน์

import pandas as pd
student = pd.DataFrame([['F','n',8],['F','E',23],['F','C',33],['F','S',24],
                        ['F','C',38],['M','n',11],['M','E',3],['M','C',43],
                       ['M','c',21]],columns=['เพศ','ภูมิลำเนา','จำนวน'])
student
print(student.stack())

0  เพศ           F
   ภูมิลำเนา     n
   จำนวน         8
1  เพศ           F
   ภูมิลำเนา     E
   จำนวน        23
2  เพศ           F
   ภูมิลำเนา     C
   จำนวน        33
3  เพศ           F
   ภูมิลำเนา     S
   จำนวน        24
4  เพศ           F
   ภูมิลำเนา     C
   จำนวน        38
5  เพศ           M
   ภูมิลำเนา     n
   จำนวน        11
6  เพศ           M
   ภูมิลำเนา     E
   จำนวน         3
7  เพศ           M
   ภูมิลำเนา     C
   จำนวน        43
8  เพศ           M
   ภูมิลำเนา     c
   จำนวน        21
dtype: object

In [79]:
# กรณีต้องการเชื่อม DataFrame เข้าด้วยกันด้วยคำสั่ง merge
import pandas as pd
animal_type = pd.DataFrame(
    [[1,'นกแก้วมาคอร์','สัตว์ปีก'],
    [2,'กบบูลฟอรอค','สัตว์ครึ่งบกครึ่งน้ำ'],
    [3,'หนูแฮมเตอร์','สัตว์เลี้ยงลูกด้วยนม']],columns=['หมายเลข','สายพันธุ์','ชนิด'])

animal_age = pd.DataFrame(
    [[1,'นกแก้วมาคอร์','เม็กซิโก',30],
    [2,'กบบูลฟอรอค','อเมริกา',3],
    [3,'หนูแฮมเตอร์','ตะวันออกกลาง',3]],columns=['หมายเลข','สายพันธุ์','ถิ่นที่อยู่','อายุขัย'])
print(animal_type)
print(animal_age)

print(pd.merge(animal_type,animal_age))

   หมายเลข     สายพันธุ์                  ชนิด
0        1  นกแก้วมาคอร์              สัตว์ปีก
1        2    กบบูลฟอรอค  สัตว์ครึ่งบกครึ่งน้ำ
2        3   หนูแฮมเตอร์  สัตว์เลี้ยงลูกด้วยนม
   หมายเลข     สายพันธุ์   ถิ่นที่อยู่  อายุขัย
0        1  นกแก้วมาคอร์      เม็กซิโก       30
1        2    กบบูลฟอรอค       อเมริกา        3
2        3   หนูแฮมเตอร์  ตะวันออกกลาง        3
   หมายเลข     สายพันธุ์                  ชนิด   ถิ่นที่อยู่  อายุขัย
0        1  นกแก้วมาคอร์              สัตว์ปีก      เม็กซิโก       30
1        2    กบบูลฟอรอค  สัตว์ครึ่งบกครึ่งน้ำ       อเมริกา        3
2        3   หนูแฮมเตอร์  สัตว์เลี้ยงลูกด้วยนม  ตะวันออกกลาง        3

In [80]:
# กรณีที่ต้องการบันทึกไฟล์ ยกตัวอย่างเป็น csv

import pandas as pd
animal_type = pd.DataFrame(
    [[1,'นกแก้วมาคอร์','สัตว์ปีก'],
    [2,'กบบูลฟอรอค','สัตว์ครึ่งบกครึ่งน้ำ'],
    [3,'หนูแฮมเตอร์','สัตว์เลี้ยงลูกด้วยนม']],columns=['หมายเลข','สายพันธุ์','ชนิด'])

export_csv = animal_type.to_csv(r'D:export_dataframe.csv')
print(export_csv)

None